<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
%matplotlib inline
%load_ext autoreload
%autoreload 4
%autosave 120

Autosaving every 120 seconds

In [2]:
from fastai.io import *
from fastai.structured import *
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from pandas_summary import DataFrameSummary
from IPython.display import display
from sklearn import metrics
import feather
import lightgbm as lgb
from sklearn.model_selection import StratifiedKFold, KFold
from sklearn.metrics import mean_squared_error
import warnings
import gc

In [3]:
df_3691 = pd.read_csv('submission-2019-02-13 22:48:45.005871.csv')
df_combining_sub = pd.read_csv('comb_15.csv')

In [4]:
df_3691.head()

           card_id    target
0  C_ID_0ab67a22ab -3.336987
1  C_ID_130fd0cbdd -0.243324
2  C_ID_b709037bc5 -0.962428
3  C_ID_d27d835a9f -0.135719
4  C_ID_2b5e3df5c2 -1.712929

In [5]:
df_combining_sub.head()

           card_id    target
0  C_ID_0ab67a22ab -2.502326
1  C_ID_130fd0cbdd -0.367306
2  C_ID_b709037bc5 -0.800308
3  C_ID_d27d835a9f -0.108871
4  C_ID_2b5e3df5c2 -1.059855

In [6]:
df_combining_sub['target'] = .5*df_combining_sub['target'] + .5*df_3691['target']

In [8]:
df_combining_sub.head()

           card_id    target
0  C_ID_0ab67a22ab -2.919657
1  C_ID_130fd0cbdd -0.305315
2  C_ID_b709037bc5 -0.881368
3  C_ID_d27d835a9f -0.122295
4  C_ID_2b5e3df5c2 -1.386392

In [10]:
submission_name = pd.to_datetime("today")

In [11]:
df_combining_sub.to_csv(f'combined_submission-{submission_name}.csv', index=False)

In [12]:
filename = f'combined_submission-{submission_name}.csv'

In [13]:
filename

'combined_submission-2019-02-15 15:09:20.708055.csv'

In [14]:
!kaggle competitions submit elo-merchant-category-recommendation -f 'combined_submission-2019-02-15 15:09:20.708055.csv' -m 'blended better be good'

100%|#######################################| 4.23M/4.23M [00:22<00:00, 194kB/s]
Successfully submitted to Elo Merchant Category Recommendation