<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
%matplotlib inline
%load_ext autoreload
%autoreload 4
%autosave 120

Autosaving every 120 seconds

In [2]:
%matplotlib inline

from fastai.imports import *
from fastai.torch_imports import *
from fastai.dataset import *
from fastai.learner import *
from fastai.structured import *
from fastai.column_data import *
import feather
import gc

In [3]:
PATH = '../data/elo/'

In [4]:
hist_trans = feather.read_dataframe('hist_trans_beta')
new_hist_trans = feather.read_dataframe('new_hist_trans_beta')

/home/chandrasekhar/anaconda3/envs/fastai/lib/python3.6/site-packages/pyarrow/pandas_compat.py:752: FutureWarning: .labels was deprecated in version 0.24.0. Use .codes instead.
  labels, = index.labels

In [5]:
new_hist_trans.columns

Index(['authorized_flag', 'card_id', 'city_id', 'category_1', 'installments',
       'category_3', 'merchant_category_id', 'merchant_id', 'month_lag',
       'purchase_amount', 'purchase_date', 'category_2', 'state_id',
       'subsector_id', 'purchase_Year', 'purchase_Month', 'purchase_Week',
       'purchase_Day', 'purchase_Dayofweek', 'purchase_Dayofyear',
       'purchase_Is_month_end', 'purchase_Is_month_start',
       'purchase_Is_quarter_end', 'purchase_Is_quarter_start',
       'purchase_Is_year_end', 'purchase_Is_year_start', 'purchase_Hour',
       'purchase_Minute', 'purchase_Second', 'purchase_Elapsed',
       'purchased_on_weekend', 'purchased_on_weekday', 'month_diff',
       'purchase_date_successive_diff', 'price', 'Christmas_Day_2017',
       'Mothers_Day_2017', 'fathers_day_2017', 'Children_day_2017',
       'Valentine_Day_2017', 'Black_Friday_2017', 'Mothers_Day_2018',
       'duration', 'amount_month_ratio', 'category_2_mean', 'category_2_min',
       'category_2_max', 'category_2_sum', 'category_3_mean', 'category_3_min',
       'category_3_max', 'category_3_sum', 'category_4', 'merchant_address_id',
       'numerical_range', 'merchant_rating'],
      dtype='object')

In [5]:
drop_cols = ['category_2_mean', 'category_2_min',
       'category_2_max', 'category_2_sum', 'category_3_mean', 'category_3_min',
       'category_3_max', 'category_3_sum', 'category_4', 'city_id', 'state_id', 
             'category_2', 'category_1', 'subsector_id']

In [6]:
for df in [hist_trans, new_hist_trans]:
    df.drop(drop_cols, axis=1, inplace=True)

In [42]:
merchants = pd.read_csv(f'{PATH}merchants.csv')

In [9]:
hist_trans.columns.values

array(['authorized_flag', 'card_id', 'installments', 'category_3', 'merchant_category_id', 'merchant_id',
       'month_lag', 'purchase_amount', 'purchase_date', 'purchase_Year', 'purchase_Month', 'purchase_Week',
       'purchase_Day', 'purchase_Dayofweek', 'purchase_Dayofyear', 'purchase_Is_month_end',
       'purchase_Is_month_start', 'purchase_Is_quarter_end', 'purchase_Is_quarter_start',
       'purchase_Is_year_end', 'purchase_Is_year_start', 'purchase_Hour', 'purchase_Minute',
       'purchase_Second', 'purchase_Elapsed', 'purchased_on_weekend', 'purchased_on_weekday', 'month_diff',
       'purchase_date_successive_diff', 'price', 'Christmas_Day_2017', 'Mothers_Day_2017',
       'fathers_day_2017', 'Children_day_2017', 'Valentine_Day_2017', 'Black_Friday_2017',
       'Mothers_Day_2018', 'duration', 'amount_month_ratio', 'merchant_address_id', 'numerical_range',
       'merchant_rating'], dtype=object)

In [7]:
cat_cols = ['authorized_flag', 'category_3', 'merchant_category_id', 'purchase_Year', 'purchase_Month', 'purchase_Week',
       'purchase_Day', 'purchase_Dayofweek', 'purchase_Dayofyear', 'purchase_Hour', 'purchase_Minute',
       'purchase_Second', 'purchased_on_weekend', 'purchased_on_weekday', 'Christmas_Day_2017', 'Mothers_Day_2017',
       'fathers_day_2017', 'Children_day_2017', 'Valentine_Day_2017', 'Black_Friday_2017',
       'Mothers_Day_2018', 'merchant_rating']

In [8]:
for c in cat_cols: hist_trans[c] = hist_trans[c].astype('category')

In [9]:
hist_trans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29112368 entries, 0 to 29112367
Data columns (total 42 columns):
authorized_flag                  category
card_id                          object
installments                     float64
category_3                       category
merchant_category_id             category
merchant_id                      object
month_lag                        int64
purchase_amount                  float64
purchase_date                    datetime64[ns]
purchase_Year                    category
purchase_Month                   category
purchase_Week                    category
purchase_Day                     category
purchase_Dayofweek               category
purchase_Dayofyear               category
purchase_Is_month_end            bool
purchase_Is_month_start          bool
purchase_Is_quarter_end          bool
purchase_Is_quarter_start        bool
purchase_Is_year_end             bool
purchase_Is_year_start           bool
purchase_Hour                    category
purchase_Minute                  category
purchase_Second                  category
purchase_Elapsed                 int64
purchased_on_weekend             category
purchased_on_weekday             category
month_diff                       int64
purchase_date_successive_diff    float64
price                            float64
Christmas_Day_2017               category
Mothers_Day_2017                 category
fathers_day_2017                 category
Children_day_2017                category
Valentine_Day_2017               category
Black_Friday_2017                category
Mothers_Day_2018                 category
duration                         float64
amount_month_ratio               float64
merchant_address_id              object
numerical_range                  float64
merchant_rating                  category
dtypes: bool(6), category(22), datetime64[ns](1), float64(7), int64(3), object(3)
memory usage: 3.9+ GB

In [10]:
apply_cats(new_hist_trans, hist_trans)

In [11]:
new_hist_trans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1963031 entries, 0 to 1963030
Data columns (total 42 columns):
authorized_flag                  category
card_id                          object
installments                     float64
category_3                       category
merchant_category_id             category
merchant_id                      object
month_lag                        int64
purchase_amount                  float64
purchase_date                    datetime64[ns]
purchase_Year                    category
purchase_Month                   category
purchase_Week                    category
purchase_Day                     category
purchase_Dayofweek               category
purchase_Dayofyear               category
purchase_Is_month_end            bool
purchase_Is_month_start          bool
purchase_Is_quarter_end          bool
purchase_Is_quarter_start        bool
purchase_Is_year_end             bool
purchase_Is_year_start           bool
purchase_Hour                    category
purchase_Minute                  category
purchase_Second                  category
purchase_Elapsed                 int64
purchased_on_weekend             category
purchased_on_weekday             category
month_diff                       int64
purchase_date_successive_diff    float64
price                            float64
Christmas_Day_2017               category
Mothers_Day_2017                 category
fathers_day_2017                 category
Children_day_2017                category
Valentine_Day_2017               category
Black_Friday_2017                category
Mothers_Day_2018                 category
duration                         float64
amount_month_ratio               float64
merchant_address_id              object
numerical_range                  float64
merchant_rating                  category
dtypes: bool(6), category(22), datetime64[ns](1), float64(7), int64(3), object(3)
memory usage: 265.9+ MB

In [12]:
gc.collect()

14

In [44]:
merchants.columns.values

array(['merchant_id', 'merchant_group_id', 'merchant_category_id', 'subsector_id', 'numerical_1',
       'numerical_2', 'category_1', 'most_recent_sales_range', 'most_recent_purchases_range',
       'avg_sales_lag3', 'avg_purchases_lag3', 'active_months_lag3', 'avg_sales_lag6', 'avg_purchases_lag6',
       'active_months_lag6', 'avg_sales_lag12', 'avg_purchases_lag12', 'active_months_lag12', 'category_4',
       'city_id', 'state_id', 'category_2'], dtype=object)

In [45]:
merchants.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 334696 entries, 0 to 334695
Data columns (total 22 columns):
merchant_id                    334696 non-null object
merchant_group_id              334696 non-null int64
merchant_category_id           334696 non-null int64
subsector_id                   334696 non-null int64
numerical_1                    334696 non-null float64
numerical_2                    334696 non-null float64
category_1                     334696 non-null object
most_recent_sales_range        334696 non-null object
most_recent_purchases_range    334696 non-null object
avg_sales_lag3                 334683 non-null float64
avg_purchases_lag3             334696 non-null float64
active_months_lag3             334696 non-null int64
avg_sales_lag6                 334683 non-null float64
avg_purchases_lag6             334696 non-null float64
active_months_lag6             334696 non-null int64
avg_sales_lag12                334683 non-null float64
avg_purchases_lag12            334696 non-null float64
active_months_lag12            334696 non-null int64
category_4                     334696 non-null object
city_id                        334696 non-null int64
state_id                       334696 non-null int64
category_2                     322809 non-null float64
dtypes: float64(9), int64(8), object(5)
memory usage: 56.2+ MB

In [46]:
merchants.nunique()

merchant_id                    334633
merchant_group_id              109391
merchant_category_id              324
subsector_id                       41
numerical_1                       954
numerical_2                       947
category_1                          2
most_recent_sales_range             5
most_recent_purchases_range         5
avg_sales_lag3                   3372
avg_purchases_lag3             100003
active_months_lag3                  3
avg_sales_lag6                   4507
avg_purchases_lag6             135202
active_months_lag6                  6
avg_sales_lag12                  5009
avg_purchases_lag12            172917
active_months_lag12                12
category_4                          2
city_id                           271
state_id                           25
category_2                          5
dtype: int64

In [47]:
merchants['avg_sales_lag3'].fillna(merchants['avg_sales_lag3'].median(), inplace=True)
merchants['avg_sales_lag6'].fillna(merchants['avg_sales_lag3'].median(), inplace=True)
merchants['avg_sales_lag12'].fillna(merchants['avg_sales_lag3'].median(), inplace=True)

In [48]:
merch_cat_cols = ['city_id', 'state_id', 'category_2', 'category_1', 'merchant_group_id', 'subsector_id', 
                 'category_4', 'most_recent_sales_range', 'most_recent_sales_range', 'most_recent_purchases_range',
                 'active_months_lag3', 'active_months_lag6', 'active_months_lag12']

In [49]:
for c in merch_cat_cols: merchants[c] = merchants[c].astype('category')

In [50]:
merchants.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 334696 entries, 0 to 334695
Data columns (total 22 columns):
merchant_id                    334696 non-null object
merchant_group_id              334696 non-null category
merchant_category_id           334696 non-null int64
subsector_id                   334696 non-null category
numerical_1                    334696 non-null float64
numerical_2                    334696 non-null float64
category_1                     334696 non-null category
most_recent_sales_range        334696 non-null category
most_recent_purchases_range    334696 non-null category
avg_sales_lag3                 334696 non-null float64
avg_purchases_lag3             334696 non-null float64
active_months_lag3             334696 non-null category
avg_sales_lag6                 334696 non-null float64
avg_purchases_lag6             334696 non-null float64
active_months_lag6             334696 non-null category
avg_sales_lag12                334696 non-null float64
avg_purchases_lag12            334696 non-null float64
active_months_lag12            334696 non-null category
category_4                     334696 non-null category
city_id                        334696 non-null category
state_id                       334696 non-null category
category_2                     322809 non-null category
dtypes: category(12), float64(8), int64(1), object(1)
memory usage: 36.5+ MB

In [ ]:
for c in cat_cols:
    uniq_vals = hist_trans[c].unique()
    uniq_vals.sort()
    hist_trans[c]

In [51]:
merchants.isnull().mean()

merchant_id                    0.000000
merchant_group_id              0.000000
merchant_category_id           0.000000
subsector_id                   0.000000
numerical_1                    0.000000
numerical_2                    0.000000
category_1                     0.000000
most_recent_sales_range        0.000000
most_recent_purchases_range    0.000000
avg_sales_lag3                 0.000000
avg_purchases_lag3             0.000000
active_months_lag3             0.000000
avg_sales_lag6                 0.000000
avg_purchases_lag6             0.000000
active_months_lag6             0.000000
avg_sales_lag12                0.000000
avg_purchases_lag12            0.000000
active_months_lag12            0.000000
category_4                     0.000000
city_id                        0.000000
state_id                       0.000000
category_2                     0.035516
dtype: float64

In [72]:
hist_trans.isnull().mean()

authorized_flag                  0.000000
card_id                          0.000000
installments                     0.006126
category_3                       0.000000
merchant_category_id             0.000000
merchant_id                      0.000000
month_lag                        0.000000
purchase_amount                  0.000000
purchase_date                    0.000000
purchase_Year                    0.000000
purchase_Month                   0.000000
purchase_Week                    0.000000
purchase_Day                     0.000000
purchase_Dayofweek               0.000000
purchase_Dayofyear               0.000000
purchase_Is_month_end            0.000000
purchase_Is_month_start          0.000000
purchase_Is_quarter_end          0.000000
purchase_Is_quarter_start        0.000000
purchase_Is_year_end             0.000000
purchase_Is_year_start           0.000000
purchase_Hour                    0.000000
purchase_Minute                  0.000000
purchase_Second                  0.000000
purchase_Elapsed                 0.000000
purchased_on_weekend             0.000000
purchased_on_weekday             0.000000
month_diff                       0.000000
purchase_date_successive_diff    0.000000
price                            0.006127
Christmas_Day_2017               0.000000
Mothers_Day_2017                 0.000000
fathers_day_2017                 0.000000
Children_day_2017                0.000000
Valentine_Day_2017               0.000000
Black_Friday_2017                0.000000
Mothers_Day_2018                 0.000000
duration                         0.000000
amount_month_ratio               0.000000
merchant_address_id              0.000000
numerical_range                  0.000000
merchant_rating                  0.000000
dtype: float64

In [73]:
merchants.shape, new_hist_trans.shape, hist_trans.shape

((334696, 22), (1963031, 42), (29112368, 42))

In [76]:
new_hist_trans_merged = pd.merge(new_hist_trans, merchants, 'inner', on='merchant_id')

In [80]:
gc.collect()

0

In [78]:
hist_trans_merged = pd.merge(hist_trans, merchants, 'inner', on='merchant_id')

In [85]:
new_hist_trans.shape, hist_trans.shape

((1963031, 42), (29112368, 42))

In [87]:
new_hist_trans.tail()

,authorized_flag,card_id,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,purchase_Year,...,fathers_day_2017,Children_day_2017,Valentine_Day_2017,Black_Friday_2017,Mothers_Day_2018,duration,amount_month_ratio,merchant_address_id,numerical_range,merchant_rating
1963026,1,C_ID_251e1fe58f,0.0,0,307,M_ID_a0eef20623,2,105.00,2018-04-30 23:59:07,2018,...,0,0,0,0,NaN,1155.00,9.545455,M_ID_a0eef20623_307_19_0_5_5,3.0,12
1963027,1,C_ID_246d26c2bd,1.0,1,818,M_ID_5bf40b6a6f,2,1029.00,2018-04-30 23:59:15,2018,...,0,0,0,0,NaN,11319.00,93.545455,M_ID_5bf40b6a6f_818_12_69_9_1,4.0,13
1963028,1,C_ID_0d0b14e74d,0.0,0,842,M_ID_08b7605111,2,40.00,2018-04-30 23:59:17,2018,...,0,0,0,0,NaN,440.00,3.636364,M_ID_08b7605111_842_37_8_12_1,390.0,13
1963029,1,C_ID_5a05b5e813,1.0,1,80,M_ID_2bc04b5299,2,43.33,2018-04-30 23:59:38,2018,...,0,0,0,0,NaN,476.63,3.939091,M_ID_2bc04b5299_80_37_0_9_1,1.0,12
1963030,1,C_ID_77fd0634b1,0.0,0,842,M_ID_066936e35c,2,41.79,2018-04-30 23:59:59,2018,...,0,0,0,0,NaN,459.69,3.799091,M_ID_066936e35c_842_37_136_4_4,0.0,12

In [86]:
new_hist_trans_merged.tail()

,authorized_flag,card_id,installments,category_3,merchant_category_id_x,merchant_id,month_lag,purchase_amount,purchase_date,purchase_Year,...,avg_sales_lag6,avg_purchases_lag6,active_months_lag6,avg_sales_lag12,avg_purchases_lag12,active_months_lag12,category_4,city_id,state_id,category_2
2021106,1,C_ID_30173ab6df,0.0,0,178,M_ID_1da2c0d633,2,56.0,2018-04-30 23:07:09,2018,...,7.08,5.277778,6,7.43,5.750000,12,N,-1,21,5.0
2021107,1,C_ID_f09c06c3fe,0.0,0,842,M_ID_1289688081,2,103.0,2018-04-30 23:10:12,2018,...,1.02,0.961071,6,0.84,0.813869,8,N,-1,20,5.0
2021108,1,C_ID_3729d6f002,1.0,1,498,M_ID_852a7b45ca,2,20.0,2018-04-30 23:24:40,2018,...,1.71,1.055556,6,2.31,1.194444,12,N,115,9,1.0
2021109,1,C_ID_f4831bf61f,1.0,1,683,M_ID_b4aa40ab2f,2,41.0,2018-04-30 23:28:46,2018,...,1.03,1.023148,6,1.75,1.527778,12,N,-1,4,4.0
2021110,1,C_ID_63ae7a7ed7,0.0,0,68,M_ID_bd8d33c133,2,55.0,2018-04-30 23:32:55,2018,...,0.32,0.332589,4,0.32,0.332589,4,Y,87,11,3.0

In [88]:
merchants.shape

(334696, 22)

In [13]:
new_hist_trans_merged.shape, hist_trans_merged.shape

NameError: name 'new_hist_trans_merged' is not defined

In [81]:
new_hist_trans_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2021111 entries, 0 to 2021110
Data columns (total 63 columns):
authorized_flag                  category
card_id                          object
installments                     float64
category_3                       category
merchant_category_id_x           category
merchant_id                      object
month_lag                        int64
purchase_amount                  float64
purchase_date                    datetime64[ns]
purchase_Year                    category
purchase_Month                   category
purchase_Week                    category
purchase_Day                     category
purchase_Dayofweek               category
purchase_Dayofyear               category
purchase_Is_month_end            bool
purchase_Is_month_start          bool
purchase_Is_quarter_end          bool
purchase_Is_quarter_start        bool
purchase_Is_year_end             bool
purchase_Is_year_start           bool
purchase_Hour                    category
purchase_Minute                  category
purchase_Second                  category
purchase_Elapsed                 int64
purchased_on_weekend             category
purchased_on_weekday             category
month_diff                       int64
purchase_date_successive_diff    float64
price                            float64
Christmas_Day_2017               category
Mothers_Day_2017                 category
fathers_day_2017                 category
Children_day_2017                category
Valentine_Day_2017               category
Black_Friday_2017                category
Mothers_Day_2018                 category
duration                         float64
amount_month_ratio               float64
merchant_address_id              object
numerical_range                  float64
merchant_rating                  category
merchant_group_id                category
merchant_category_id_y           int64
subsector_id                     category
numerical_1                      float64
numerical_2                      float64
category_1                       category
most_recent_sales_range          category
most_recent_purchases_range      category
avg_sales_lag3                   float64
avg_purchases_lag3               float64
active_months_lag3               category
avg_sales_lag6                   float64
avg_purchases_lag6               float64
active_months_lag6               category
avg_sales_lag12                  float64
avg_purchases_lag12              float64
active_months_lag12              category
category_4                       category
city_id                          category
state_id                         category
category_2                       category
dtypes: bool(6), category(34), datetime64[ns](1), float64(15), int64(4), object(3)
memory usage: 464.7+ MB

In [82]:
hist_trans_merged.to_feather('hist_trans_merged')

In [83]:
new_hist_trans_merged.to_feather('new_hist_trans_merged')

In [84]:
hist_trans_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30472275 entries, 0 to 30472274
Data columns (total 63 columns):
authorized_flag                  category
card_id                          object
installments                     float64
category_3                       category
merchant_category_id_x           category
merchant_id                      object
month_lag                        int64
purchase_amount                  float64
purchase_date                    datetime64[ns]
purchase_Year                    category
purchase_Month                   category
purchase_Week                    category
purchase_Day                     category
purchase_Dayofweek               category
purchase_Dayofyear               category
purchase_Is_month_end            bool
purchase_Is_month_start          bool
purchase_Is_quarter_end          bool
purchase_Is_quarter_start        bool
purchase_Is_year_end             bool
purchase_Is_year_start           bool
purchase_Hour                    category
purchase_Minute                  category
purchase_Second                  category
purchase_Elapsed                 int64
purchased_on_weekend             category
purchased_on_weekday             category
month_diff                       int64
purchase_date_successive_diff    float64
price                            float64
Christmas_Day_2017               category
Mothers_Day_2017                 category
fathers_day_2017                 category
Children_day_2017                category
Valentine_Day_2017               category
Black_Friday_2017                category
Mothers_Day_2018                 category
duration                         float64
amount_month_ratio               float64
merchant_address_id              object
numerical_range                  float64
merchant_rating                  category
merchant_group_id                category
merchant_category_id_y           int64
subsector_id                     category
numerical_1                      float64
numerical_2                      float64
category_1                       category
most_recent_sales_range          category
most_recent_purchases_range      category
avg_sales_lag3                   float64
avg_purchases_lag3               float64
active_months_lag3               category
avg_sales_lag6                   float64
avg_purchases_lag6               float64
active_months_lag6               category
avg_sales_lag12                  float64
avg_purchases_lag12              float64
active_months_lag12              category
category_4                       category
city_id                          category
state_id                         category
category_2                       category
dtypes: bool(6), category(34), datetime64[ns](1), float64(15), int64(4), object(3)
memory usage: 6.8+ GB

In [89]:
new_hist_trans_merged.isnull().sum()

authorized_flag                        0
card_id                                0
installments                       58169
category_3                             0
merchant_category_id_x                 6
merchant_id                            0
month_lag                              0
purchase_amount                        0
purchase_date                          0
purchase_Year                          0
purchase_Month                         0
purchase_Week                          0
purchase_Day                           0
purchase_Dayofweek                     0
purchase_Dayofyear                     0
purchase_Is_month_end                  0
purchase_Is_month_start                0
purchase_Is_quarter_end                0
purchase_Is_quarter_start              0
purchase_Is_year_end                   0
purchase_Is_year_start                 0
purchase_Hour                          0
purchase_Minute                        0
purchase_Second                        0
purchase_Elapsed                       0
purchased_on_weekend                   0
purchased_on_weekday                   0
month_diff                             0
purchase_date_successive_diff          0
price                              58169
                                  ...
Children_day_2017                      0
Valentine_Day_2017                     0
Black_Friday_2017                      0
Mothers_Day_2018                 1506773
duration                               0
amount_month_ratio                     0
merchant_address_id                    0
numerical_range                        0
merchant_rating                        0
merchant_group_id                      0
merchant_category_id_y                 0
subsector_id                           0
numerical_1                            0
numerical_2                            0
category_1                             0
most_recent_sales_range                0
most_recent_purchases_range            0
avg_sales_lag3                         0
avg_purchases_lag3                     0
active_months_lag3                     0
avg_sales_lag6                         0
avg_purchases_lag6                     0
active_months_lag6                     0
avg_sales_lag12                        0
avg_purchases_lag12                    0
active_months_lag12                    0
category_4                             0
city_id                                0
state_id                               0
category_2                        280961
Length: 63, dtype: int64

In [37]:
dd

In [14]:
df_all = pd.concat([hist_trans, new_hist_trans])

In [91]:
l = join_df(new_hist_trans, merchants, 'merchant_id')

In [92]:
l.shape

(2021111, 63)

In [93]:
new_hist_trans.shape

(1963031, 42)

In [94]:
len(l), len(new_hist_trans)

(2021111, 1963031)

In [52]:
import gc
gc.collect()

7

In [15]:
df_all.shape

(31075399, 42)

In [17]:
new_hist_trans.shape, hist_trans.shape

((1963031, 42), (29112368, 42))

In [18]:
new_hist_trans.shape[0] + hist_trans.shape[0]

31075399

In [23]:
df_all.tail()

,authorized_flag,card_id,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,purchase_Year,...,fathers_day_2017,Children_day_2017,Valentine_Day_2017,Black_Friday_2017,Mothers_Day_2018,duration,amount_month_ratio,merchant_address_id,numerical_range,merchant_rating
1963026,1,C_ID_251e1fe58f,0.0,0,307,M_ID_a0eef20623,2,105.00,2018-04-30 23:59:07,2018,...,0,0,0,0,NaN,1155.00,9.545455,M_ID_a0eef20623_307_19_0_5_5,3.0,12
1963027,1,C_ID_246d26c2bd,1.0,1,818,M_ID_5bf40b6a6f,2,1029.00,2018-04-30 23:59:15,2018,...,0,0,0,0,NaN,11319.00,93.545455,M_ID_5bf40b6a6f_818_12_69_9_1,4.0,13
1963028,1,C_ID_0d0b14e74d,0.0,0,842,M_ID_08b7605111,2,40.00,2018-04-30 23:59:17,2018,...,0,0,0,0,NaN,440.00,3.636364,M_ID_08b7605111_842_37_8_12_1,390.0,13
1963029,1,C_ID_5a05b5e813,1.0,1,80,M_ID_2bc04b5299,2,43.33,2018-04-30 23:59:38,2018,...,0,0,0,0,NaN,476.63,3.939091,M_ID_2bc04b5299_80_37_0_9_1,1.0,12
1963030,1,C_ID_77fd0634b1,0.0,0,842,M_ID_066936e35c,2,41.79,2018-04-30 23:59:59,2018,...,0,0,0,0,NaN,459.69,3.799091,M_ID_066936e35c_842_37_136_4_4,0.0,12

In [16]:
df_all.reset_index(inplace=True)

In [30]:
df_all.dtypes

index                                     int64
authorized_flag                           int64
card_id                                  object
installments                            float64
category_3                                int64
merchant_category_id                     object
merchant_id                              object
month_lag                                 int64
purchase_amount                         float64
purchase_date                    datetime64[ns]
purchase_Year                             int64
purchase_Month                            int64
purchase_Week                             int64
purchase_Day                              int64
purchase_Dayofweek                        int64
purchase_Dayofyear                        int64
purchase_Is_month_end                      bool
purchase_Is_month_start                    bool
purchase_Is_quarter_end                    bool
purchase_Is_quarter_start                  bool
purchase_Is_year_end                       bool
purchase_Is_year_start                     bool
purchase_Hour                             int64
purchase_Minute                           int64
purchase_Second                           int64
purchase_Elapsed                          int64
purchased_on_weekend                      int64
purchased_on_weekday                      int64
month_diff                                int64
purchase_date_successive_diff           float64
price                                   float64
Christmas_Day_2017                        int64
Mothers_Day_2017                          int64
fathers_day_2017                          int64
Children_day_2017                         int64
Valentine_Day_2017                        int64
Black_Friday_2017                         int64
Mothers_Day_2018                         object
duration                                float64
amount_month_ratio                      float64
merchant_address_id                      object
numerical_range                         float64
merchant_rating                           int64
dtype: object

In [ ]:
new_hist_trans.head().T

In [17]:
apply_cats(df_all, hist_trans)

In [32]:
df_all.dtypes

index                                     int64
authorized_flag                        category
card_id                                  object
installments                            float64
category_3                             category
merchant_category_id                   category
merchant_id                              object
month_lag                                 int64
purchase_amount                         float64
purchase_date                    datetime64[ns]
purchase_Year                          category
purchase_Month                         category
purchase_Week                          category
purchase_Day                           category
purchase_Dayofweek                     category
purchase_Dayofyear                     category
purchase_Is_month_end                      bool
purchase_Is_month_start                    bool
purchase_Is_quarter_end                    bool
purchase_Is_quarter_start                  bool
purchase_Is_year_end                       bool
purchase_Is_year_start                     bool
purchase_Hour                          category
purchase_Minute                        category
purchase_Second                        category
purchase_Elapsed                          int64
purchased_on_weekend                   category
purchased_on_weekday                   category
month_diff                                int64
purchase_date_successive_diff           float64
price                                   float64
Christmas_Day_2017                     category
Mothers_Day_2017                       category
fathers_day_2017                       category
Children_day_2017                      category
Valentine_Day_2017                     category
Black_Friday_2017                      category
Mothers_Day_2018                       category
duration                                float64
amount_month_ratio                      float64
merchant_address_id                      object
numerical_range                         float64
merchant_rating                        category
dtype: object

In [ ]:
merch_cat_cols = `

In [18]:
gc.collect()

0

In [19]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31075399 entries, 0 to 31075398
Data columns (total 43 columns):
index                            int64
authorized_flag                  category
card_id                          object
installments                     float64
category_3                       category
merchant_category_id             category
merchant_id                      object
month_lag                        int64
purchase_amount                  float64
purchase_date                    datetime64[ns]
purchase_Year                    category
purchase_Month                   category
purchase_Week                    category
purchase_Day                     category
purchase_Dayofweek               category
purchase_Dayofyear               category
purchase_Is_month_end            bool
purchase_Is_month_start          bool
purchase_Is_quarter_end          bool
purchase_Is_quarter_start        bool
purchase_Is_year_end             bool
purchase_Is_year_start           bool
purchase_Hour                    category
purchase_Minute                  category
purchase_Second                  category
purchase_Elapsed                 int64
purchased_on_weekend             category
purchased_on_weekday             category
month_diff                       int64
purchase_date_successive_diff    float64
price                            float64
Christmas_Day_2017               category
Mothers_Day_2017                 category
fathers_day_2017                 category
Children_day_2017                category
Valentine_Day_2017               category
Black_Friday_2017                category
Mothers_Day_2018                 category
duration                         float64
amount_month_ratio               float64
merchant_address_id              object
numerical_range                  float64
merchant_rating                  category
dtypes: bool(6), category(22), datetime64[ns](1), float64(7), int64(4), object(3)
memory usage: 4.3+ GB

In [20]:
df_all.head()

,index,authorized_flag,card_id,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,...,fathers_day_2017,Children_day_2017,Valentine_Day_2017,Black_Friday_2017,Mothers_Day_2018,duration,amount_month_ratio,merchant_address_id,numerical_range,merchant_rating
0,0,1,C_ID_da2090f28e,0.0,0,623,M_ID_f001319a61,-11,40.0,2017-01-01 00:00:08,...,0,0,0,0,0,560.0,2.857143,M_ID_f001319a61_623_4_0_9_1,0.0,12
1,1,1,C_ID_efced389a0,1.0,1,842,M_ID_18038b5ae7,-12,120.0,2017-01-01 00:00:59,...,0,0,0,0,0,1560.0,9.230769,M_ID_18038b5ae7_842_37_76_2_3,189.0,12
2,2,1,C_ID_83561fe74a,1.0,1,661,M_ID_52d3026407,-13,124.9,2017-01-01 00:01:41,...,0,0,0,0,0,1498.8,10.408333,M_ID_52d3026407_661_8_0_0_0,1.0,11
3,3,1,C_ID_479fd6392a,1.0,1,839,M_ID_e5374dabc0,-1,6.0,2017-01-01 00:02:03,...,0,0,0,0,0,144.0,0.250000,M_ID_e5374dabc0_839_29_0_0_0,0.0,6
4,4,1,C_ID_1cf6056088,0.0,0,278,M_ID_2cf6dc1f6f,-4,500.0,2017-01-01 00:02:12,...,0,0,0,0,0,10500.0,23.809524,M_ID_2cf6dc1f6f_278_37_69_9_1,8.0,11

In [21]:
df_all.drop('index', axis=1, inplace=True)

In [22]:
df_all.to_feather('all_trans')

In [54]:
merchants.to_feather('merchants_minimised')

In [3]:
all_trans = feather.read_dataframe('all_trans')
merchants = feather.read_dataframe('merchants_minimised')

/home/chandrasekhar/anaconda3/envs/fastai/lib/python3.6/site-packages/pyarrow/pandas_compat.py:752: FutureWarning: .labels was deprecated in version 0.24.0. Use .codes instead.
  labels, = index.labels

In [47]:
def join_df(left, right, left_on, right_on=None, suffix='_y'):
    if right_on is None: right_on = left_on
    return left.merge(right, how='left', left_on=left_on, right_on=right_on, 
                      suffixes=("", suffix))

In [5]:
l = join_df(all_trans, merchants, 'merchant_id')

In [6]:
df_all.shape

NameError: name 'df_all' is not defined

In [7]:
all_trans.shape, merchants.shape, l.shape

((31075399, 42), (334696, 22), (32493386, 63))

In [8]:
merchants['merchant_id'].nunique()

334633

In [12]:
merchants.drop_duplicates('merchant_id', inplace=True)

In [13]:
merchants.shape

(334633, 22)

In [14]:
gc.collect()

2968

In [15]:
l = join_df(all_trans, merchants, 'merchant_id')

In [16]:
all_trans.shape, merchants.shape, l.shape

((31075399, 42), (334633, 22), (31075399, 63))

In [17]:
l.to_feather('all_trans_merch')

In [4]:
all_trans_merch = feather.read_dataframe('all_trans_merch')

/home/chandrasekhar/anaconda3/envs/fastai/lib/python3.6/site-packages/pyarrow/pandas_compat.py:752: FutureWarning: .labels was deprecated in version 0.24.0. Use .codes instead.
  labels, = index.labels

In [5]:
PATH = '../data/elo/'

In [6]:
train = pd.read_csv(f'{PATH}train.csv')
test = pd.read_csv(f'{PATH}test.csv')

In [7]:
all_cards = pd.concat([train, test])

/home/chandrasekhar/anaconda3/envs/fastai/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [8]:
all_cards.shape, test.shape, train.shape

((325540, 6), (123623, 5), (201917, 6))

In [29]:
all_cards.dtypes

card_id                object
feature_1               int64
feature_2               int64
feature_3               int64
first_active_month     object
target                float64
dtype: object

In [9]:
train_df = feather.read_dataframe('train_df_alpha')
test_df = feather.read_dataframe('test_df_alpha')

In [10]:
reqd_cols = ['card_id','hist_first_buy','new_first_buy','hist_last_buy','new_last_buy',
             'month_diff_ratio','installments_ratio','CLV','CLV_old',
             'CLV_ratio', 'card_id_count_ratio',
             'purchase_amount_sum_ratio','quarter','observed_elapsed_time',
             'days_feature1','days_feature2','days_feature3','days_feature1_ratio',
             'days_feature2_ratio','days_feature3_ratio','feature_sum','feature_mean',
             'feature_max','feature_min','feature_var', 'feature_1','feature_2','feature_3']

In [11]:
train = train_df[reqd_cols + ['target', 'outliers']]
test = test_df[reqd_cols]

In [12]:
train.shape, test.shape

((201917, 30), (123623, 28))

In [13]:
train.columns.values

array(['card_id', 'hist_first_buy', 'new_first_buy', 'hist_last_buy', 'new_last_buy', 'month_diff_ratio',
       'installments_ratio', 'CLV', 'CLV_old', 'CLV_ratio', 'card_id_count_ratio',
       'purchase_amount_sum_ratio', 'quarter', 'observed_elapsed_time', 'days_feature1', 'days_feature2',
       'days_feature3', 'days_feature1_ratio', 'days_feature2_ratio', 'days_feature3_ratio', 'feature_sum',
       'feature_mean', 'feature_max', 'feature_min', 'feature_var', 'feature_1', 'feature_2', 'feature_3',
       'target', 'outliers'], dtype=object)

In [14]:
test['outliers'] = -9999
test['target'] = -9999

/home/chandrasekhar/anaconda3/envs/fastai/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/chandrasekhar/anaconda3/envs/fastai/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [15]:
all_cards = pd.concat([train,test])

/home/chandrasekhar/anaconda3/envs/fastai/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [16]:
all_cards.shape

(325540, 30)

In [17]:
all_cards.dtypes

CLV                          float64
CLV_old                      float64
CLV_ratio                    float64
card_id                       object
card_id_count_ratio          float64
days_feature1                float64
days_feature1_ratio          float64
days_feature2                float64
days_feature2_ratio          float64
days_feature3                float64
days_feature3_ratio          float64
feature_1                    float64
feature_2                    float64
feature_3                    float64
feature_max                    int64
feature_mean                 float64
feature_min                    int64
feature_sum                    int64
feature_var                  float64
hist_first_buy               float64
hist_last_buy                float64
installments_ratio           float64
month_diff_ratio             float64
new_first_buy                float64
new_last_buy                 float64
observed_elapsed_time        float64
outliers                       int64
purchase_amount_sum_ratio    float64
quarter                      float64
target                       float64
dtype: object

In [94]:
all_cards.head().T

,0,1,2,3,4
CLV,5149.37,39.1138,2.81818,222.822,14096.1
CLV_old,412964,930755,7116.69,34891.5,381239
CLV_ratio,0.0124693,4.20237e-05,0.000395996,0.00638613,0.0369745
card_id,C_ID_92a2005557,C_ID_3d0044924f,C_ID_d639edf6cd,C_ID_186d6a6901,C_ID_cdbd2c0db2
card_id_count_ratio,0.0884615,0.0171429,0.0232558,0.0909091,0.270677
days_feature1,1365,1584,1154,724,120
days_feature1_ratio,0.018315,0.010101,0.0034662,0.0220994,0.00833333
days_feature2,546,396,1154,543,360
days_feature2_ratio,0.00732601,0.00252525,0.0034662,0.0165746,0.025
days_feature3,273,0,0,0,0
days_feature3_ratio,0.003663,0,0,0,0
feature_1,0.0131446,0.0107116,0.0106099,0.0107116,0.00805849
feature_2,0.00875212,0.0113848,0.00875212,0.0141664,0.0141664
feature_3,0.0114275,0.0102828,0.0102828,0.0102828,0.0102828
feature_max,5,4,2,4,3
feature_mean,2.66667,1.66667,1.33333,2.33333,1.33333
feature_min,1,0,0,0,0
feature_sum,8,5,4,7,4
feature_var,2.08167,2.08167,1.1547,2.08167,1.52753
hist_first_buy,26,5,163,25,11
hist_last_buy,269,395,575,180,119
installments_ratio,0,0.0110092,NaN,0.0697674,0.197802
month_diff_ratio,0.988901,0.997483,0.927451,1.01874,1.00629
new_first_buy,277,396,635,187,121
new_last_buy,332,453,635,229,178
observed_elapsed_time,273,396,577,181,120
outliers,0,0,0,0,0
purchase_amount_sum_ratio,0.139393,0.00244521,0.0157925,0.0715641,0.137459
quarter,2,1,3,3,4
target,-0.820283,0.392913,0.688056,0.142495,-0.159749

In [26]:
all_cards.nunique()

CLV                          239808
CLV_old                      325246
CLV_ratio                    289997
card_id                      325540
card_id_count_ratio           11182
days_feature1                   643
days_feature1_ratio             646
days_feature2                   487
days_feature2_ratio             504
days_feature3                   232
days_feature3_ratio             233
feature_1                         5
feature_2                         3
feature_3                         2
feature_max                       5
feature_mean                      7
feature_min                       2
feature_sum                       7
feature_var                       9
hist_first_buy                 2004
hist_last_buy                  1954
installments_ratio            11082
month_diff_ratio              86507
new_first_buy                  1962
new_last_buy                   1990
observed_elapsed_time           232
outliers                          3
purchase_amount_sum_ratio    289968
quarter                           4
target                       197111
dtype: int64

In [41]:
card_cat_cols = ['hist_first_buy','new_first_buy','hist_last_buy','new_last_buy',
                 'quarter','observed_elapsed_time','days_feature1','days_feature2',
                 'days_feature3','days_feature1_ratio','days_feature2_ratio','days_feature3_ratio',
                 'feature_sum','feature_mean','feature_max','feature_min','feature_var', 'feature_1',
                 'feature_2','feature_3']

In [20]:
all_cards[card_cat_cols].nunique()

hist_first_buy           2004
new_first_buy            1962
hist_last_buy            1954
new_last_buy             1990
quarter                     4
observed_elapsed_time     232
days_feature1             643
days_feature2             487
days_feature3             232
days_feature1_ratio       646
days_feature2_ratio       504
days_feature3_ratio       233
feature_sum                 7
feature_mean                7
feature_max                 5
feature_min                 2
feature_var                 9
feature_1                   5
feature_2                   3
feature_3                   2
dtype: int64

In [19]:
gc.collect()

0

In [21]:
for c in card_cat_cols: all_cards[c] = all_cards[c].astype('category')

In [22]:
all_cards.reset_index(inplace=True)

In [23]:
all_cards.head()

,index,CLV,CLV_old,CLV_ratio,card_id,card_id_count_ratio,days_feature1,days_feature1_ratio,days_feature2,days_feature2_ratio,...,hist_last_buy,installments_ratio,month_diff_ratio,new_first_buy,new_last_buy,observed_elapsed_time,outliers,purchase_amount_sum_ratio,quarter,target
0,0,5149.372528,412964.333008,0.012469,C_ID_92a2005557,0.088462,1365.0,0.018315,546.0,0.007326,...,269.0,0.000000,0.988901,277.0,332.0,273.0,0,0.139393,2.0,-0.820283
1,1,39.113766,930754.891184,0.000042,C_ID_3d0044924f,0.017143,1584.0,0.010101,396.0,0.002525,...,395.0,0.011009,0.997483,396.0,453.0,396.0,0,0.002445,1.0,0.392913
2,2,2.818182,7116.692235,0.000396,C_ID_d639edf6cd,0.023256,1154.0,0.003466,1154.0,0.003466,...,575.0,NaN,0.927451,635.0,635.0,577.0,0,0.015792,3.0,0.688056
3,3,222.821667,34891.478622,0.006386,C_ID_186d6a6901,0.090909,724.0,0.022099,543.0,0.016575,...,180.0,0.069767,1.018743,187.0,229.0,181.0,0,0.071564,3.0,0.142495
4,4,14096.099155,381238.779469,0.036974,C_ID_cdbd2c0db2,0.270677,120.0,0.008333,360.0,0.025000,...,119.0,0.197802,1.006287,121.0,178.0,120.0,0,0.137459,4.0,-0.159749

In [24]:
all_cards.drop('index', inplace=True, axis=1)

In [35]:
all_cards.isnull().sum().sort_values(ascending=False)

installments_ratio           106614
purchase_amount_sum_ratio     35539
new_last_buy                  35539
new_first_buy                 35539
month_diff_ratio              35539
card_id_count_ratio           35539
days_feature3_ratio           21932
days_feature1                 21932
days_feature2_ratio           21932
observed_elapsed_time         21932
days_feature2                 21932
days_feature3                 21932
days_feature1_ratio           21932
quarter                           1
hist_first_buy                    1
hist_last_buy                     1
card_id                           0
CLV_ratio                         0
CLV_old                           0
target                            0
feature_max                       0
feature_1                         0
feature_2                         0
feature_3                         0
feature_mean                      0
feature_min                       0
feature_sum                       0
feature_var                       0
outliers                          0
CLV                               0
dtype: int64

In [65]:
all_cards.to_feather('all_cards')

In [28]:
all_cards.shape, all_trans_merch.shape

((325540, 30), (31075399, 63))

In [42]:
null_cols = ['installments_ratio',
'purchase_amount_sum_ratio',
'new_last_buy',
'new_first_buy',
'month_diff_ratio',
'card_id_count_ratio',
'days_feature3_ratio',
'days_feature1',
'days_feature2_ratio',
'observed_elapsed_time',
'days_feature2',
'days_feature3',
'days_feature1_ratio',
'quarter',
'hist_first_buy',
'hist_last_buy']

In [43]:
null_cols = [c for c in null_cols if c not in card_cat_cols]
#     all_cards[c].fillna(all_cards[c].median(), inplace=True)

In [44]:
for c in null_cols:
    all_cards[c].fillna(all_cards[c].median(), inplace=True)

In [45]:
gc.collect()

3059

In [49]:
lala = join_df(all_trans_merch, all_cards, 'card_id')

In [51]:
lala.shape, all_cards.shape, all_trans_merch.shape

((31075399, 92), (325540, 30), (31075399, 63))

In [52]:
lala.head().T

,0,1,2,3,4
authorized_flag,1,1,1,1,1
card_id,C_ID_da2090f28e,C_ID_efced389a0,C_ID_83561fe74a,C_ID_479fd6392a,C_ID_1cf6056088
installments,0,1,1,1,0
category_3,0,1,1,1,0
merchant_category_id,623,842,661,839,278
merchant_id,M_ID_f001319a61,M_ID_18038b5ae7,M_ID_52d3026407,M_ID_e5374dabc0,M_ID_2cf6dc1f6f
month_lag,-11,-12,-13,-1,-4
purchase_amount,40,120,124.9,6,500
purchase_date,2017-01-01 00:00:08,2017-01-01 00:00:59,2017-01-01 00:01:41,2017-01-01 00:02:03,2017-01-01 00:02:12
purchase_Year,2017,2017,2017,2017,2017
purchase_Month,1,1,1,1,1
purchase_Week,52,52,52,52,52
purchase_Day,1,1,1,1,1
purchase_Dayofweek,6,6,6,6,6
purchase_Dayofyear,1,1,1,1,1
purchase_Is_month_end,False,False,False,False,False
purchase_Is_month_start,True,True,True,True,True
purchase_Is_quarter_end,False,False,False,False,False
purchase_Is_quarter_start,True,True,True,True,True
purchase_Is_year_end,False,False,False,False,False
purchase_Is_year_start,True,True,True,True,True
purchase_Hour,0,0,0,0,0
purchase_Minute,0,0,1,2,2
purchase_Second,8,59,41,3,12
purchase_Elapsed,1483228808,1483228859,1483228901,1483228923,1483228932
purchased_on_weekend,1,1,1,1,1
purchased_on_weekday,0,0,0,0,0
month_diff,14,13,12,24,21
purchase_date_successive_diff,0,0,0,0,0
price,inf,120,124.9,6,inf
...,...,...,...,...,...
category_2,1,3,NaN,NaN,1
CLV,843.02,6449.36,1335.53,134.591,1692.72
CLV_old,216088,277773,706730,70.3312,189696
CLV_ratio,0.00390128,0.0232181,0.00188973,0.00560192,0.0089233
card_id_count_ratio,0.0451389,0.125,0.0171569,0.0789474,0.10687
days_feature1,3747,427,1824,NaN,1365
days_feature1_ratio,0.00240192,0.00234192,0.00219298,NaN,0.018315
days_feature2,3747,1281,912,NaN,546
days_feature2_ratio,0.00240192,0.00702576,0.00109649,NaN,0.00732601
days_feature3,1249,0,0,NaN,273
days_feature3_ratio,0.000800641,0,0,NaN,0.003663
feature_1,0.0104794,0.00805849,0.0106099,0.00805849,0.0131446
feature_2,0.0141664,0.0141664,0.0113848,0.0113848,0.00875212
feature_3,0.0114275,0.0102828,0.0102828,0.0102828,0.0114275
feature_max,3,3,2,1,5
feature_mean,2.33333,1.33333,1,0.666667,2.66667
feature_min,1,0,0,0,1
feature_sum,7,4,3,2,8
feature_var,1.1547,1.52753,1,0.57735,2.08167
hist_first_buy,884,31,488,92,122
hist_last_buy,1247,412,911,149,272
installments_ratio,0.0408163,0.072327,0.0159091,0.0408163,0
month_diff_ratio,0.976801,1.00398,0.99685,1.00117,0.987112
new_first_buy,1263,445,928,NaN,287
new_last_buy,1289,478,970,NaN,332
observed_elapsed_time,1249,427,912,NaN,273
outliers,0,0,-9999,0,-9999
purchase_amount_sum_ratio,0.0844233,0.186483,0.109797,0.0712785,0.0824205
quarter,3,4,3,4,3
target,-1.99163,-1.84033,-9999,0.89228,-9999

In [53]:
lala.to_feather('all_card_merch')

In [3]:
all_card_merch = feather.read_dataframe('all_card_merch')

/home/chandrasekhar/anaconda3/envs/fastai/lib/python3.6/site-packages/pyarrow/pandas_compat.py:752: FutureWarning: .labels was deprecated in version 0.24.0. Use .codes instead.
  labels, = index.labels

In [4]:
gc.collect()

12

In [5]:
df_train_new = all_card_merch[all_card_merch['target'] != -9999]

In [5]:
df_test_new = all_card_merch[all_card_merch['target'] == -9999]

In [12]:
df_train_new.shape, df_test_new.shape, all_card_merch.shape

((19249698, 92), (11825701, 92), (31075399, 92))

In [6]:
# df_train_new.reset_index(inplace=True)
df_test_new.reset_index(inplace=True)

In [11]:
df_train_new.head()

,index,authorized_flag,card_id,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,...,hist_last_buy,installments_ratio,month_diff_ratio,new_first_buy,new_last_buy,observed_elapsed_time,outliers,purchase_amount_sum_ratio,quarter,target
0,2,1,C_ID_83561fe74a,1.0,1,661,M_ID_52d3026407,-13,124.9,2017-01-01 00:01:41,...,911.0,0.015909,0.996850,928.0,970.0,912.0,-9999,0.109797,3.0,-9999.0
1,4,1,C_ID_1cf6056088,0.0,0,278,M_ID_2cf6dc1f6f,-4,500.0,2017-01-01 00:02:12,...,272.0,0.000000,0.987112,287.0,332.0,273.0,-9999,0.082420,3.0,-9999.0
2,9,1,C_ID_dc5b78f973,1.0,1,307,M_ID_22123f98fc,-5,30.0,2017-01-01 00:05:37,...,777.0,0.034483,0.993762,805.0,850.0,792.0,-9999,0.016940,2.0,-9999.0
3,13,1,C_ID_4c5ee92630,1.0,1,307,M_ID_b4769b47e3,-4,100.0,2017-01-01 00:07:59,...,179.0,0.050847,1.000000,223.0,232.0,182.0,-9999,0.044924,4.0,-9999.0
4,16,1,C_ID_a022409ce4,0.0,0,683,M_ID_5d7f7ad37b,-11,2.5,2017-01-01 00:08:40,...,388.0,0.000000,1.001484,401.0,410.0,396.0,-9999,0.006574,4.0,-9999.0

In [7]:
gc.collect()

0

In [8]:
df_train_new.head()

,index,authorized_flag,card_id,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,...,hist_last_buy,installments_ratio,month_diff_ratio,new_first_buy,new_last_buy,observed_elapsed_time,outliers,purchase_amount_sum_ratio,quarter,target
0,0,1,C_ID_da2090f28e,0.0,0,623,M_ID_f001319a61,-11,40.0,2017-01-01 00:00:08,...,1247.0,0.040816,0.976801,1263.0,1289.0,1249.0,0,0.084423,3.0,-1.991626
1,1,1,C_ID_efced389a0,1.0,1,842,M_ID_18038b5ae7,-12,120.0,2017-01-01 00:00:59,...,412.0,0.072327,1.003975,445.0,478.0,427.0,0,0.186483,4.0,-1.840332
2,3,1,C_ID_479fd6392a,1.0,1,839,M_ID_e5374dabc0,-1,6.0,2017-01-01 00:02:03,...,149.0,0.040816,1.001172,NaN,NaN,NaN,0,0.071279,4.0,0.892280
3,5,0,C_ID_79296614ed,0.0,0,360,M_ID_257157f6ee,-3,108.5,2017-01-01 00:02:14,...,539.0,0.000000,1.000812,550.0,592.0,547.0,0,0.442168,4.0,-1.349757
4,6,1,C_ID_f43ae18887,0.0,0,511,M_ID_00a6ca8a8a,-13,39.0,2017-01-01 00:02:25,...,454.0,0.040816,0.998291,455.0,513.0,455.0,0,0.037864,4.0,-0.964822

In [20]:
df_test_new.head()

,index,authorized_flag,card_id,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,...,hist_last_buy,installments_ratio,month_diff_ratio,new_first_buy,new_last_buy,observed_elapsed_time,outliers,purchase_amount_sum_ratio,quarter,target
0,0,1,C_ID_da2090f28e,0.0,0,623,M_ID_f001319a61,-11,40.0,2017-01-01 00:00:08,...,1247.0,0.040816,0.976801,1263.0,1289.0,1249.0,0,0.084423,3.0,-1.991626
1,1,1,C_ID_efced389a0,1.0,1,842,M_ID_18038b5ae7,-12,120.0,2017-01-01 00:00:59,...,412.0,0.072327,1.003975,445.0,478.0,427.0,0,0.186483,4.0,-1.840332
2,3,1,C_ID_479fd6392a,1.0,1,839,M_ID_e5374dabc0,-1,6.0,2017-01-01 00:02:03,...,149.0,0.040816,1.001172,NaN,NaN,NaN,0,0.071279,4.0,0.892280
3,5,0,C_ID_79296614ed,0.0,0,360,M_ID_257157f6ee,-3,108.5,2017-01-01 00:02:14,...,539.0,0.000000,1.000812,550.0,592.0,547.0,0,0.442168,4.0,-1.349757
4,6,1,C_ID_f43ae18887,0.0,0,511,M_ID_00a6ca8a8a,-13,39.0,2017-01-01 00:02:25,...,454.0,0.040816,0.998291,455.0,513.0,455.0,0,0.037864,4.0,-0.964822

In [8]:
# df_train_new.drop('index', inplace=True, axis=1)
df_test_new.drop('index',inplace=True, axis=1)

/home/chandrasekhar/anaconda3/envs/fastai/lib/python3.6/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [10]:
df_train_new.to_feather('all_train_cont')

In [9]:
df_test_new.to_feather('all_test_cont')

In [23]:
df_train_new.shape, df_test_new.shape, all_card_merch.shape

((11825701, 92), (19249698, 93), (31075399, 92))

In [3]:
all_train_cont = feather.read_dataframe('all_train_cont')
all_test_cont = feather.read_dataframe('all_test_cont')

/home/chandrasekhar/anaconda3/envs/fastai/lib/python3.6/site-packages/pyarrow/pandas_compat.py:752: FutureWarning: .labels was deprecated in version 0.24.0. Use .codes instead.
  labels, = index.labels

In [4]:
all_test_cont.shape, all_train_cont.shape

((11825701, 92), (19249698, 92))

In [5]:
all_train_cont['card_id'].nunique(), all_test_cont['card_id'].nunique()

(201917, 123623)